#content{
	text-align: center;
	padding-top:25%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1); 	
}
body{
	background: url(https://images.unsplash.com/photo-1504608524841-42fe6f032b4b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=701&q=80);
	background-size: cover;
	background-position: center;
	color: white;
}
h1{
	font-weight: 700;
	font-size: 3em;
}
html{
	height: 100%;
}
hr{
	width: 400px;
}
footer {
    background-color: white;
    color: black;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
    margin: 5px;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}
